*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* || VARIABILI || */
:root {
    --buyBtn_color: #CD3D0F;
    --infoBtn_color: #2D64E6;
}
a {
    text-decoration: none;
}

/* #region || HEADER ||*/
header {
    display: unset
}
/* #region || HEADER-TOP ||*/
.headerTop {
    background-color: black;
    width: 100%;
    height: 36px;
    text-align: right;
}
.headerTop img {
    height: 36px;
    width: 50px;
    margin-right: 10px;
}
/* #endregion HEADER-TOP*/

/* #region || HEADER-BOTTOM ||*/
.headerBottom {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99999;
}
/* #endregion HEADER-BOTTOM */
/* #endregion HEADER */

/* #region || MAIN ||*/
section {
    padding-bottom: 15%;
}
/* #region || JUMBOTRON ||*/
.jumboBg {
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 580px;
    width: 100%;
    position: relative;
}
.jumboContainer {
    width: 95%;
    margin: 0 auto;
}
.jumboText {
    width: 95%;
    position: absolute;
    bottom: 3rem;
    left: 2.5%;
}
.jumboText img {
    width: 60%;
}
.jumboText h2 {
    padding: 5% 0;
    font-size: 2.5rem;
}
.jumboText h5 {
    padding-bottom: 5%;
    font-size: 1rem;
}
.jumboText button {
    background-color: var(--buyBtn_color);
}
.jumboContainer .row img {
    width: 100%;
    border-radius: 20px;
}
.jumboCards {
    padding-top: 3%;
}
/* #endregion JUMBOTRON */

/* #region || CONSOLE SECTION || */
.consoleContainer {
    width: 95%;
    margin: 0 auto;
}
.consoleContainer span {
    color: #0474CE;
    text-transform: uppercase;
    font-size: 1rem;
}
.consoleContainer h2 {
    font-size: 2.5rem;
}
.consoleContainer h5 {
    color: #727272;
    padding: 3% 0;
}
.consoleContainer img {
    width: 100%;
}
.consoleContainer .cardImg_container {
    height: 150px;
    padding-bottom: 10%;
}
.consoleContainer .cardImg_container img {
    height: 100%;
    object-fit: contain;
}
.consoleContainer h6 {
    display: none;
}
.consoleContainer a {
    color: black;
}
/* #endregion CONSOLE SECTION*/

/* #region || GAME SECTION ||*/
.gameBg {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 630px;
    width: 100%;
    position: relative;
}
section.game {
    background-color: #1F1F1F;;
}
.gameContainer {
    width: 95%;
    margin: 0 auto;
    padding-top: 3%;
}
.gameText {
    width: 95%;
    position: absolute;
    bottom: 3rem;
    left: 2.5%;
}
.gameText img {
    width: 60%;
}
.gameText h2 {
    padding: 5% 0;
    font-size: 2.5rem;
}
.gameText h5 {
    padding-bottom: 5%;
    font-size: 1rem;
}
.gameText button {
    background-color: var(--buyBtn_color);
}
.gameContainer .row img {
    width: 100%;
    border-radius: 20px;
}
.gameContainer h2 {
    font-size: 2.3rem;
}
.gameContainer h5 {
    font-size: 1.7rem;
    padding-bottom: 3%;
}
.gameContainer h6 {
    padding-top: 5%;
    font-size: 1.1rem;
}
.gameContainer a {
    color: white;
}
/* #endregion GAME SECTION */
/* #endregion MAIN */

/* #region || MEDIA QUERIES ||*/
/* SMALL */
@media screen and (min-width: 576px) {
    .jumboText, .gameText {
       left: 2.5%;
       width: 90%;
    }
    .jumboText h2, .gameText h2 {
        font-size: 2.5rem;
    }
    .jumboText h5, .gameText h5 {
        font-size: 1.1rem;
    }
    .jumboText button, .gameText button {
        font-size: 1.2rem;
    }
}
/* MEDIUM */
@media screen and (min-width: 768px) {
    .consoleContainer h6 {
        display: inline-block;
    }
    .consoleContainer button {
        margin-top: 5%;
    }
    .gameText img {
        width: 50%;
    }
}
/* LARGE */
@media screen and (min-width: 992px) {
    .jumboText, .gameText {
        width: 30%;
    }
    .consoleContainer button {
        margin-top: 2%;
    }
    section {
        padding-bottom: 7%;
    }
}


/* #endregion MEDIA QUERIES */
