*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
/* || VARIABILI || */

/* #region || HEADER ||*/
/* #region || HEADER-TOP ||*/
.headerTop {
    background-color: black;
    width: 100%;
}
/* #endregion HEADER-TOP*/

/* #region || HEADER-BOTTOM ||*/
/* #endregion HEADER-BOTTOM */
/* #endregion HEADER */
