*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}
/* || VARIABILI || */
:root {
    --buyBtn_color: #CD3D0F
}

/* #region || HEADER ||*/
header {
    display: unset
}
/* #region || HEADER-TOP ||*/
.headerTop {
    background-color: black;
    width: 100%;
    height: 36px;
    text-align: right;
}
.headerTop img {
    height: 36px;
    width: 50px;
    margin-right: 10px;
}
/* #endregion HEADER-TOP*/

/* #region || HEADER-BOTTOM ||*/
.headerBottom {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99999;
}
/* #endregion HEADER-BOTTOM */
/* #endregion HEADER */

/* #region || MAIN ||*/
/* #region || JUMBOTRON ||*/

.jumboBg {
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 580px;
    width: 100%;
    position: relative;
}
.jumboContainer {
    width: 95%;
    margin: 0 auto;
}
.jumboText {
    width: 95%;
    position: absolute;
    bottom: 3rem;
    left: 2.5%;
}
.jumboText img {
    width: 60%;
}
.jumboText h2 {
    padding: 5% 0;
    font-size: 2.5rem;
}
.jumboText h5 {
    padding-bottom: 5%;
    font-size: 1rem;
}
.jumboText button {
    background-color: var(--buyBtn_color);
}
.row img {
    width: 100%;
    border-radius: 20px;
}
.jumboCards {
    padding-top: 3%;
}
/* #endregion JUMBOTRON */
/* #endregion MAIN */






/* #region || MEDIA QUERIES ||*/
/* SMALL */
@media screen and (min-width: 576px) {
    .jumboText {
       left: 5%;
       width: 90%;
    }
    .jumboText h2 {
        font-size: 2.5rem;
    }
    .jumboText h5 {
        font-size: 1.1rem;
    }
    .jumboText button {
        font-size: 1.2rem;
    }
}
/* MEDIUM */
@media screen and (min-width: 768px) {
    
}
/* LARGE */
@media screen and (min-width: 992px) {
    .jumboText {
        width: 30%;
    }
}


/* #endregion MEDIA QUERIES */
